$PageHeader-bg-color: $gray-800 !default;

.PageHeader {
  display: flex;
  overflow: hidden;
  flex: none;
  align-items: center;
  background-color: $PageHeader-bg-color;

  @include media-breakpoint-up(lg) {
    flex-wrap: wrap;
    padding: map_get($spacers, 2);
  }
}
